<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<a th:href="@{/logout}">
    <button>Sign out</button>
</a>
<br/>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="password">Enter password:</label>
    <input type="password" th:field="*{password}" id="password"/>

    <label for="age">Enter age:</label>
    <input type="number" th:field="*{age}" id="age"/>

    <select th:object="${user}" th:field="*{gender}">
        <option th:each="gender : ${T(ru.kata.spring.boot_security.demo.model.Gender).values()}"
                th:value="${gender}" th:text="${gender}"></option>
    </select>

    <label for="roles">Select roles:</label>
    <select multiple="multiple" th:field="*{roles}" id="roles">
        <option th:each="role : ${T(ru.kata.spring.boot_security.demo.model.Role).values()}"
                th:value="${role}" th:text="${role}"></option>
    </select>

    <input type="submit" value="Add"/>
</form>
</body>
</html>